<!DOCTYPE html>
{% load static %}
<html lang="fr">
    {% include "header.html" %}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include "navbar.html" %}
            
            
            <section id="apropos" class="bg-light py-5">
                <main class="container">
                    <div class="row g-5">
                        <div class="col-md-8">
                            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                Généralité sur les IST
                            </h3>

                            <article class="blog-post">
                                <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
                                <p>Les Infections Sexuellement Transmissibles (IST) sont des infections qui se transmettent par contact sexuel. Elles sont causées par des agents pathogènes tels que des virus, des bactéries ou des parasites. Ces infections ont une importance considérable dans la santé publique mondiale, car elles touchent des millions de personnes chaque année. Si elles ne sont pas diagnostiquées et traitées précocement, elles peuvent entraîner des complications sérieuses. Il est donc important de se faire diagnostiquer dès que possible.</p>
                                <br>
                                <hr>
                                <p> 
                                    <h4>
                                        Les symptômes les plus courants : 
                                    </h4>
                                    <ul>
                                        <li>
                                            Écoulement anormal par le vagin, le pénis ou l’anus, parfois douloureux (sensation 
                                            de brûlure). Souvent il est minime et ne fait pas très mal.
                                        </li>
                                        <li>
                                            Brûlures, démangeaisons, boutons ou verrues au niveau des organes sexuels ou de 
                                            l’anus.
                                        </li>
                                        <li>
                                            Chancre (petite bouton avec un trou indolore) sur la peau et les muqueuses (vagin, 
                                            pénis, gland, testicules, anus, bouche).
                                        </li>
                                        <li>
                                            Sensation de brûlure en urinant.
                                        </li>
                                        <li>
                                            Rougeurs des muqueuses (organes génitaux, anus, gorge).
                                        </li>
                                        <li>
                                            Douleurs pendant ou après les rapports sexuels.
                                        </li>
                                        <li>
                                            Douleurs au vagin, au méat urinaire (orifice à l’extrémité du gland) et/ou au bas 
                                            ventre, ganglions gonflés, fièvre.
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    Un simple contact entre muqueuses peut aussi être à l’origine d’une
                                    infection par une IST. Certaines IST se transmettent aussi lors du
                                    baiser et des caresses.
                                </p>
                                <p>
                                    Attention, être infecté·e par une IST peut augmenter le risque
                                    d’infection par une autre IST. En effet, les IST fragilisent les
                                    muqueuses qui deviennent alors de plus grande « porte d’entrée »
                                    pour les autres IST et pour le VIH. <br>
                                    Il est préférable d’éviter d’être infecté·e par plusieurs IST en même temps car cela
                                    complique le traitement médical, notamment celui contre le VIH.
                                    La plupart des IST peuvent être guéries sans laisser de séquelles si elles sont soignées à temps. 
                                    Il ne faut pas laisser ces infections sans traitement car non traitées, elles peuvent avoir des conséquences graves (stérilité, cancer, etc.).
                                    Certaines IST, comme le VIH ou l’Hépatite B, peuvent être traitées sans pour autant être guéries. On parle alors de maladies chroniques (qui restent dans le temps)
                                </p>
                                <br>
                                <hr>
                                <p> 
                                    <h4>
                                        Causes des IST: Les différents virus et bactéries responsables
                                    </h4>
                                    Ces infections sont généralement causées par des virus comme le VIH et l'HPV.
                                    Mais dans certains cas comme la chlamydia et la gonorrhée, ce sont des bactéries qui se propagent par les fluides corporels lors de rapports sexuels vaginaux, anaux ou oraux.
                                    Enfin, les parasites peuvent se transmettre lors de rapports sexuels. C’est le cas des parasites responsables de la trichomonase.
                                </p>
                                <br>
                                <hr>
                                <p>
                                    <h4>
                                        Les 8 IST les plus fréquentes sont : 
                                    </h4>
                                    <ul>
                                        <li>la syphilis ;</li>
                                        <li>la gonorrhée</li>
                                        <li>la chlamydiose</li>
                                        <li>la trichomonase</li>
                                        <li>l’hépatite B</li>
                                        <li>l’herpès génital</li>
                                        <li>le VIH (Virus de l’Immunodéficience Humaine)</li>
                                        <li>le papillomavirus humain (HPV)</li>
                                    </ul>
                                </p>
                            </article>

                        </div>

                        <div class="col-md-4">
                            <div class="position-sticky" style="top: 2rem;">
                                <!-- <div class="p-4 mb-3 bg-light rounded">
                                    <h4 class="fst-italic">About</h4>
                                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                                </div> -->

                                <div class="p-4">
                                    <h4 class="fst-italic">Archives</h4>
                                    <ol class="list-unstyled mb-0">
                                        <li><a href="#">Généralité sur les IST</a></li>
                                        <li><a href="#">Les symptômes les plus courants</a></li>
                                        <li><a href="#">Causes des IST</a></li>
                                        <li><a href="#">Les IST les plus fréquentes</a></li>
                                        <li><a href="#">Tableau recapitulatif sur les IST</a></li>
                                    </ol>
                                </div>

                                <div class="p-4">
                                    <h4 class="fst-italic">Elsewhere</h4>
                                    <ol class="list-unstyled">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">WhatsApp</a></li>
                                        <li><a href="#">Youtube</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </section>
            <section class="bg-light py-2">
                <br>
                <div class="container marketing">
                    <h4>Tableau recapitulatif</h4>
                    <h6>Symptômes, mode de transmission et de prévention des principales Infections Sexuellement Transmissibles</h6>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-warning">
                                <tr>
                                    <th>INFECTIONS</th>
                                    <th>SYMPTOMES</th>
                                    <th>MODES DE TRANSMISSION </th>
                                    <th>
                                        COMPLICATION OU 
                                        REPERCUSSIONS 
                                        POSSIBLES 
                                    </th>
                                    <th>
                                        PERIODE 
                                        D’INCUBATION
                                    </th>
                                    <th>PREVENTION </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hépatites A </td>
                                    <td>Fièvre, nausées, jaunisse, puis disparition des symptômes après quelques semaines </td>
                                    <td>Par contact sexuel la transmission se fait lors des rapports bouche anus </td>
                                    <td>
                                        Dans de rares cas hépatite fulminante et atteinte sévère du foie nécessitant un greffe
                                    </td>
                                    <td>
                                        15 à 45 jours
                                    </td>
                                    <td>Vaccination </td>
                                </tr>
                                <tr class="align-bottom">
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, repudiandae? Quisquam, inventore doloremque! Quisquam adipisci voluptatem, sapiente beatae porro in aspernatur illo molestias optio consequuntur placeat libero quis sequi natus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, repudiandae? Quisquam, inventore doloremque! Quisquam adipisci voluptatem, sapiente beatae porro in aspernatur illo molestias optio consequuntur placeat libero quis sequi natus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, repudiandae? Quisquam, inventore doloremque! Quisquam adipisci voluptatem, sapiente beatae porro in aspernatur illo molestias optio consequuntur placeat libero quis sequi natus.</td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
            </section>
        </main>


        
        <!-- Footer-->
        {% include "footer.html" %}

    </body>
</html>





