<!DOCTYPE html>
{% load static %}
<html lang="fr">
    {% include "header.html" %}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include "navbar.html" %}
            <!-- Header-->
            <header class="py-5 header_slide">
                <div class="container pb-5">
                    <div class="row gx- align-items-center">
                        <div class="col-xxl-4">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start py-5 slideur_content">
                                <div class="fs-2 fw-light text-muted mouvement1">le VIH détruit des vies innocentes</div>
                                <div class="defilement mouvement2 slideur">
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Luttons ensemble pour éliminer le VIH d'ici 2030</span></h1>
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Luttons ensemble pour éliminer le VIH d'ici 2030</span></h1>
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Luttons ensemble pour éliminer le VIH d'ici 2030</span></h1>
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Luttons ensemble pour éliminer le VIH d'ici 2030</span></h1>
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Luttons ensemble pour éliminer le VIH d'ici 2030</span></h1>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-5" data-aos="fade-up" data-aos-delay="100">
                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#visite">Visiter</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'projets' %}">Projects</a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About Section-->
            <section class="bg-light py-5" id="visite">
                <br><br>
                <div class="container">
                    <div class="row gx-4 gx-lg-5" id="informations">
                        <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-delay="200">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">Le VIH Sida ?</h2>
                                    <p class="card-text">Le VIH (Virus de l'Immunodéficience Humaine) est un virus qui attaque le système immunitaire, en particulier les cellules CD4 (un type de globules blancs), affaiblissant ainsi la capacité du corps à combattre les infections et certaines maladies...</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'generalite_vih' %}">Voir les détails</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-delay="200">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">Les IST ?</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-sm" href="">Voir les détails</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-delay="200">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">Le Dépistage ?</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-delay="200">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">La Charge Virale</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="apropos" class="bg-light py-5">
                <main class="container">
                    <h2 class="card-title">Qui sommes nous ?</h2>
                    <hr>
                    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                        <div class="col-md-10 px-0">
                            <h2 class="display-4 fst-italic"><span class="text-gradient d-inline">A propos de nous.</span></h2>
                            <p class="lead fw-light text-muted mb-4">Nous sommes Le Réseau Ivoirien du Tourisme et de l’Agro Ecotourisme (RETACI) est le réseau de passionnés professionnels de l’écotourisme en Côte d’Ivoire.</p>
                            <p>
                                Il est créé le 28 Janvier 2011 par des spécialistes du tourisme vert pour promouvoir la destination Côte d’Ivoire. 
                                Enregistré au Ministère de l’Intérieur sous le récépissé de Déclaration d’Association NUMERO 474/ME/MI/DGAT/SDVA du 12 juillet 2012, le RETACI a pour objectif de :
                                <ul>
                                    <li>Promouvoir la destination Côte d’Ivoire par le tourisme durable ;</li>
                                    <li>Concevoir et promouvoir les activités écotouristiques au plan nationales ;</li>
                                    <li>Assurer l’accueil et l’information des visiteurs ;</li>
                                    <li>Susciter l’organisation des loisirs et toute manifestation susceptible de mettre en valeur les richesses touristiques et écotouristiques au plan nationale ;</li>
                                    <li>Faire aux autorités compétentes en matière de tourisme ou toute autre administration, toute proposition susceptible d’améliorer le produit touristique national;</li>
                                    <li>Promouvoir un tourisme éducatif en milieu scolaire et universitaire.</li>
                                </ul>
                            </p>
                            <p class="lead mb-0"><a href="{% url 'apropos' %}" class="text-white fw-bold">Voir plus d'infos...</a></p>
                        </div>
                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="text-gradient" href="#!"><i class="bi bi-facebook"></i></a>
                            <a class="text-gradient" href="#!"><i class="bi bi-whatsapp"></i></a>
                            <a class="text-gradient" href="#!"><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </main>
            </section>
            
            <section id="actualites" class="bg-light py-5">
                <div class="container marketing">
                    <h2 class="card-title" style="padding-top: 45px;">L'Actualité</h2>
                    <hr class="featurette-divider">
                    <!-- START THE FEATURETTES -->
                    <div class="row featurette" data-aos="fade-left" data-aos-delay="300">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
                        </div>
                        <div class="col-md-5">
                            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                        </div>
                    </div>
                
                    <hr class="featurette-divider" >
                    <div class="row featurette" data-aos="fade-right" data-aos-delay="300">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                        </div>
                    </div>
                
                    <hr class="featurette-divider">
                    <div class="row featurette" data-aos="fade-left" data-aos-delay="300">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                        </div>
                        <div class="col-md-5">
                            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                        </div>
                    </div>
                
                    <hr class="featurette-divider">
                    <!-- /END THE FEATURETTES -->
                
                  </div>
            </section>
        </main>


        <!-- Footer-->
        {% include "footer.html" %}

    </body>
</html>
