
<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Bel Avenir</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'accueil' %}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'vih' %}">VIH</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'ist' %}">IST</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'depistage' %}">Dépistage</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'charge_virale' %}">Charge Virale</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <p></p>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'css/imgs/cycle.jpg' %}" alt="image du cycle de vie du VIH" /></a>
                        <div class="card-body">
                            <h2 class="card-title">cycle de vie du VIH</h2>
                            <p class="card-text">
                                1. Circoncision masculine : <br>
                                - La circoncision a montré qu'elle pouvait réduire le risque de transmission du VIH lors de rapports sexuels hétérosexuels, bien qu'elle ne fournisse pas une protection totale. <br><br>

                                2. Éducation et sensibilisation : <br>
                                - Informer les populations à risque sur les modes de transmission, les mesures de prévention, et l'importance du dépistage est essentiel pour prévenir la propagation du VIH. <br><br>

                                3. Traitement antirétroviral (ARV) : <br>
                                - Les personnes vivant avec le VIH qui suivent un traitement antirétroviral efficace peuvent atteindre une charge virale indétectable, ce qui signifie qu'elles ne transmettent pas le virus (c'est le principe de "U=U", undetectable = untransmittable). <br>
                            </p>
                            <br>
                            <h2 class="card-title">Facteurs de risques du VIH</h2>
                            <p class="card-text">
                                Plusieurs facteurs peuvent augmenter le risque de contracter ou de transmettre le VIH :

                                1. Comportements sexuels à risque : <br>
                                - Relations sexuelles non protégées (sans préservatif) avec des partenaires multiples ou inconnus. <br>
                                - Pratiques sexuelles qui augmentent le risque de déchirures ou de saignements (par exemple, le sexe anal ou les relations sexuelles avec des partenaires ayant une charge virale élevée). <br><br>

                                2. Partage de matériel d'injection : <br>
                                - Utilisation de seringues ou d'aiguilles non stériles, notamment dans le cadre de l'usage de drogues injectables. <br><br>

                                3. Présence d'autres infections sexuellement transmissibles (IST) : <br>
                                - La présence d'IST, comme l'herpès, la gonorrhée ou la chlamydia, augmente la probabilité de contracter ou de transmettre le VIH, car elles causent des lésions sur les muqueuses génitales. <br><br>

                                4. Statut sérologique de son partenaire : <br>
                                - Avoir un partenaire qui est séropositif et qui ne suit pas un traitement antirétroviral efficace avec une charge virale indétectable augmente le risque de transmission. <br><br>

                                5. Non-adhérence au traitement antirétroviral : <br>
                                - Pour les personnes vivant avec le VIH, ne pas suivre correctement le traitement antirétroviral (ARV) peut entraîner une charge virale élevée, augmentant ainsi le risque de transmission du VIH. <br><br>

                                6. Facteurs socio-économiques : <br><br>
                                - Les personnes vivant dans des conditions socio-économiques précaires peuvent avoir moins accès aux soins de santé, à l'éducation, et aux méthodes de prévention, augmentant ainsi leur vulnérabilité au VIH. <br><br>
                            </p>

                            <h2 class="card-title">Conclusion</h2>
                            <p class="card-text">
                                Le VIH est une infection virale qui, si elle n'est pas contrôlée, peut évoluer en SIDA, une maladie grave qui affaiblit le système immunitaire. Cependant, grâce à des mesures de prévention efficaces comme l'utilisation de préservatifs, la PrEP, le dépistage régulier, et l'accès aux traitements antirétroviraux, il est possible de réduire considérablement le risque de transmission du VIH. Il est également important de sensibiliser les populations à risque et de promouvoir des comportements responsables pour lutter contre la propagation du virus. <br>
                            </p>
                            <br>
                            <br><br>
                            <video controls width="700">
                                <source src="{% static 'css/video/cycle_vih.mp4' %}" type="video/mp4" />
                            </video>
                            <br><br><br><br>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        
                    </div>
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Généralité sur le VIH</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        <a class="btn btn-primary" href="{% url 'cycle' %}">Voir →</a>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Comment le corps réagit-il face à l'infection du VIH ?</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        <a class="btn btn-primary" href="{% url 'cycle' %}">Voir →</a>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Qu'arrive-t-il au corps après l'infection à VIH ?</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        <a class="btn btn-primary" href="{% url 'cycle' %}">Voir →</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <!-- <footer class="py-5">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2025</p></div>
        </footer> -->
        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <<script src="js/scripts.js"></script> 
    </body>
</html>
