
<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Bel Avenir</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'accueil' %}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'vih' %}">VIH</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'ist' %}">IST</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'depistage' %}">Dépistage</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'charge_virale' %}">Charge Virale</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <p></p>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'css/imgs/vih.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <h2 class="card-title">VIH : Définition</h2>
                            <p class="card-text">
                                Le VIH (Virus de l'Immunodéficience Humaine) est un virus qui attaque le système immunitaire, en particulier les cellules CD4 (un type de globules blancs), affaiblissant ainsi la capacité du corps à combattre les infections et certaines maladies. Si le VIH n'est pas traité, il peut évoluer vers le SIDA (Syndrome de l'Immunodéficience Acquise), une forme avancée d'infection par le VIH, où le système immunitaire est gravement endommagé, rendant la personne vulnérable à des infections opportunistes et certains cancers.
                            </p>
                            <br>
                            <h2 class="card-title">Modes de transmission du VIH</h2>
                            <p class="card-text">
                                Le VIH se transmet principalement par le contact avec des fluides corporels infectés. Voici les modes de transmission principaux : <br><br>

                                1. Transmission sexuelle : <br> 
                                Le VIH se transmet lors de rapports sexuels non protégés (vaginaux, anaux ou oraux) avec une personne infectée, par le biais de fluides corporels comme le sperme, les sécrétions vaginales ou le sang. <br><br>

                                2. Transmission sanguine : <br> 
                                Le VIH peut se transmettre par le partage de seringues ou d'aiguilles, par exemple lors de l'usage de drogues injectables. Il peut également être transmis lors de transfusions de sang non testé ou via des instruments de tatouage ou de piercing non stérilisés. <br><br>

                                3. Transmission de la mère à l'enfant : <br>
                                Une femme enceinte infectée par le VIH peut transmettre le virus à son enfant pendant la grossesse, lors de l'accouchement, ou par l'allaitement. <br><br>

                                4. Transmission par exposition professionnelle :  <br>
                                Les travailleurs de la santé peuvent être exposés au VIH par des blessures accidentelles avec des aiguilles ou des instruments contaminés. <br>
                            </p>
                            <br>
                            <video controls width="780">
                              
                                <source src="{% static 'css/video/mpp.mp4' %}" type="video/mp4" />
                              
                            </video>
                            <br><br><br><br>
                            <h2 class="card-title">Mode de prévention du VIH</h2>
                            <p class="card-text">
                                Il existe plusieurs méthodes pour prévenir l'infection par le VIH : <br><br>

                                1. Utilisation de préservatifs :  <br>
                                Le préservatif masculin ou féminin est l'une des méthodes les plus efficaces pour prévenir la transmission du VIH lors des rapports sexuels. Il empêche le contact direct avec les fluides corporels infectés. <br><br>

                                2. Traitement préexposition (PrEP) :  <br>
                                La PrEP est un traitement préventif prescrit aux personnes à risque élevé de contracter le VIH. Lorsqu'il est pris correctement, il peut réduire de manière significative le risque d'infection. <br><br>

                                3. Traitement postexposition (PEP) : <br>
                                - La PEP est un traitement d'urgence qui peut être administré dans les 72 heures suivant une exposition potentielle au VIH (par exemple, après un rapport sexuel non protégé avec une personne séropositive). Ce traitement peut réduire le risque de contracter le VIH si pris à temps. <br><br>

                                4. Dépistage et traitement des IST : <br>
                                - Le dépistage régulier des infections sexuellement transmissibles (IST) et leur traitement peuvent réduire le risque de transmission du VIH, car les IST augmentent la probabilité de transmission du VIH. <br><br>

                                5. Circoncision masculine : <br>
                                - La circoncision a montré qu'elle pouvait réduire le risque de transmission du VIH lors de rapports sexuels hétérosexuels, bien qu'elle ne fournisse pas une protection totale. <br><br>
                            </p>
                            <br><br>
                            <video controls width="780">
                                <source src="{% static 'css/video/mp.mp4' %}" type="video/mp4" />
                            </video>
                            <br><br><br>
                            <a class="btn btn-primary" href="{% url 'cycle' %}">Suivant →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                       
                    </div>
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Cycle de vie du VIH</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        <a class="btn btn-primary" href="{% url 'cycle' %}">Voir →</a>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Comment le corps réagit-il face à l'infection du VIH ?</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        <a class="btn btn-primary" href="{% url 'cycle' %}">Voir →</a>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Qu'arrive-t-il au corps après l'infection à VIH ?</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        <a class="btn btn-primary" href="{% url 'cycle' %}">Voir →</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2025</p></div>
        </footer> -->
        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script> 
    </body>
</html>
